#navbar {
    height: 30vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
}

h1 {
    margin-top: 8vh;
    margin-left: 70px;
    letter-spacing: 5px;
    font-family: Roboto, sans-serif;
    font-size: 8vh;
    color: white;
    text-transform: uppercase;
}